body {
    margin: 0;
    background: linear-gradient(270deg, #76b6ed 0.000%, #3e74af 50.000%, #245487 100.000%);
    font-family: Arial, sans-serif;
    color: white;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
}